{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "indent":  ["error", 4],
        "brace-style": "off",
        "linebreak-style": ["error", "windows"],
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": false,
                "MethodDefinition": false,
                "ClassDeclaration": false,
                "ArrowFunctionExpression": false,
                "FunctionExpression": false
            }
        }],
        "comma-dangle": "off",
        "semi": "off",
        "no-trailing-spaces": "off",
        "eol-last": "off",
        "quotes": "off",
        "arrow-parens": "off",
        "no-unused-vars": "warn",
        "max-len": "warn",
        "operator-linebreak": "off",
        "no-debugger": "off"
    }
}