$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$iterator-col-width: 40px; 
$cell-width: 120px;
$db-header-height: 64px;


$font-color: #22262d;
$black: #000;

$input-border-color: #c0c0c0;
$border-color: #c0c0c0;